
body{
    height: 1000px;
    width: 100%;
    position: absolute;
    padding: 0%;
    border: 0px;
    margin: 0px;
}


#header {
    position: fixed;
    width: 100%;
    height: 100px;
    display: flex;
    background-color: rgb(7,38,119);
    color: white;
    
}
#nameOurs{
    position: absolute;
    top: 72px;
    left: 10px;
}

#loginButton{
    position: absolute;
    width: 100px;
    height: 30px;
    background-color: #4fc2f7;
    right: 30px;
    top: 30px;
    border-radius: 20px;
    font-size: small;
    text-align: center;
    padding-top: 10px

    
}
#loginButton:hover{
    transform: scale(1.1);
    /* background-color: aqua; */
    opacity: 0.9;

}
#slogan{
    position: absolute;
    /* background-color: #4fc2f7; */
    width: 80%;
    right: 10%;
    height: 60px;
    text-align: center;
    padding-top: 10px;
    font-size: 32;
    font-family:Calibri, 'Trebuchet MS', sans-serif, 'Gill Sans', 'Gill Sans MT';
}
#subHeader{
    position: absolute;
    /* background-color: #4fc2f7; */
    width: 80%;
    height: 40px;
    right: 10%;
    bottom: 0px;
    display: flex;
    justify-content: space-evenly;
}
#logo{
    position: relative;
    left: 10px;
    width: 70px;
    height: 70px;
    /* background-color: aqua; */
    margin: 10px;
    /* font-size: large; */
    
    
}
#logo>a>img{
    width: 100%;
    height: 100%;

}

.facilities{
    position: relative;
    top:5px;
    height: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.facilities:hover{
    transform: scale(1.1);
    cursor:pointer;
}




.content-area{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.content{
    margin: 20px;
    min-width: 400px;
    max-width: 1000px;
    height: 300px;
    border: 1px solid black;
    display: flex;
    /* flex-direction: row-reverse; */
}

img{
    width: 300px;
    height: 300px;
}

.image{
    width: 35%;
    border: 1px solid black;
    height: 300px;
}


.image2 img{
    width: 200px;
    height: 200px;
}

.text{
    padding: 10px;
    width: 65%;
    border: 1px solid black;
    /* height: 100%; */
    display: flex;
    align-items: center;
    font-size: 2rem;
    
}

